.container {
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  background-color: #eaf3d7;
}

.title {
  color: #8f7e61;
  font-weight: 700;
}

.content {
  width: 80%;
}

.formItem {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}
